/*
              colors
#858688 - main color?              
#5b4295 - kind of purple;
#636b92 - for gradient(with purple)
#fc444a - for "Somewhere" - kind of red + pink
#5e7bea - for donate button (sky color)
#36bae1 - for sky gradient
#bfc5d4 - for hover
*/

@font-face {
    font-family: TW-R;
    src: url(assets/fonts/TitilliumWeb-Regular.ttf)
}

@font-face {
    font-family: TW-B;
    src: url(assets/fonts/TitilliumWeb-Bold.ttf)
}
/* 
@font-face {
    font-family: TW-L;
    src: url(assets/fonts/TitilliumWeb-Light.ttf)
}

@font-face {
    font-family: TW-EL;
    src: url(assets/fonts/TitilliumWeb-ExtraLight.ttf)
}

@font-face {
    font-family: TW-Bl;
    src: url(assets/fonts/TitilliumWeb-Black.ttf)
} */

@font-face {
    font-family: Malaga;
    src: url(assets/fonts/MalagaOT-RegItalic.otf)
}

@font-face {
    font-family: TW-SB;
    src: url(assets/fonts/TitilliumWeb-SemiBold.ttf)
}

* {
    padding: 0;
    margin: 0;
    font-family: TW-R;
}

a {
    text-decoration: none;
    color: black;
}

body {
    padding: 52px;
    color: #858688;
}

.header-nav {
    display: grid;
    grid-template: repeat(2, 56px) / 4fr 2fr 2fr;
    margin-top: 18.8px;
}

.header li {
    display: inline;
}

h1 {
    font-family: TW-B;
    font-weight: bold;
    margin-left: 22%;
    letter-spacing: -1.0px;
}

.color-word {
    font-family: TW-B;
    color: #5b4295;
}

.nav-bar {
    margin-top: 13px;
    transition: 0.2s all ease;
}

.nav-bar ul {
    margin-left: 6.7%;
}

.nav-bar ul li:not(:first-child) {
    margin-left: 5.5%;
    letter-spacing: 0.2px;
}

.nav-bar ul li:nth-child(n+4) {
    margin-left: 21px;
}

.nav-bar a:hover {
    position: relative;
    top: -1px;
    cursor: pointer;
    font-weight: 800;
    transition: 0.2s all ease;
    text-decoration: line-through;
}

.log-btns {
    align-self: center;
    padding-left: 15%;
    margin-top: -6px;
}

button {
    border: none;
    background: none;
    font-weight: bold;
}

.log-in {
    color: black;
}

.log-in span {
    margin-left: 6px;
    font-size: 15px;
    word-spacing: 1px;
    letter-spacing: 0.8px;
}

.log-in i {
    color: #5b4295;
    font-size: 15px;
}

.log-in:hover {
    cursor: pointer;
    color: black;
    text-shadow: 0px 1px 1px black;
    background: red;
    border-radius: 5px;
    box-shadow: 0px 3px 5px 10px red;
}

.log-in:hover i {
    color: white;
    cursor: pointer;
    font-size: 15px;
}

.sign-up {
    position: relative;
    top: 2px;
    margin-left: 19px;
    height: 42px;
    width: 94px;
    background-image: linear-gradient(to bottom right, #451a6b, #6276cd);
    border-radius: 10rem;
    box-shadow: 0 10px 20px 0px #7384bb;
}

.sign-up span {
    position: relative;
    top: -2px;
    left: -1px;
    font-family: TW-B;
    font-size: 16px;
    word-spacing: 0px;
    letter-spacing: 0.4px;
    color: white;
}

.sign-up:hover {
    cursor: pointer;
    background-image: none;
    border-radius: none;
    border: none;
    box-shadow: none;
}

.sign-up:hover span {
    color: white;
    text-shadow: 0px 1px 1px white;
    background: #451a6b;
    border: 1px #451a6b solid;
    border-radius: 5px;
    box-shadow: 0px 3px 5px 10px #451a6b;
}

/*////////////////////////////////////// language bar /////////////////////////////////////////////////////////////*/

.language-list {
    margin-left: 22.1%;
    margin-top: 2px;
    font-size: 14px;
    letter-spacing: 0.8px;
    color: #a3a3a3;
}

.language-list > input{
    display: none;
}

.language-controls :nth-child(n+2) {
    margin-left: 12px;
    letter-spacing: 0.1px;
}

.language-controls :nth-child(n+2)::before {
    content: " /  ";
    position: relative;
    right: 6px;
}

.language-controls :nth-child(n+2):hover::before {
    color: #858688;
    font-weight: 400;
}

.language-controls label:hover,
#language1:checked ~ .language-controls label:nth-of-type(1),
#language2:checked ~ .language-controls label:nth-of-type(2),
#language3:checked ~ .language-controls label:nth-of-type(3),
#language4:checked ~ .language-controls label:nth-of-type(4){
    cursor: pointer;
    font-weight: 800;
    color: #959595;
    border-bottom: 1px solid #959595;
}

.language-controls label:hover,
#language1:checked ~ .language-controls label:nth-of-type(1)::before,
#language2:checked ~ .language-controls label:nth-of-type(2)::before,
#language3:checked ~ .language-controls label:nth-of-type(3)::before,
#language4:checked ~ .language-controls label:nth-of-type(4)::before{
    font-weight: 400;
    color: #a3a3a3;
}

/*////////////////////////////////////// language bar /////////////////////////////////////////////////////////////*/

.header-content {
    background: url(assets/header-bg-1.png) center no-repeat;
    height: 66.4vh;
    display: flex;
    justify-content: center;
}

.header-topic {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 116px;
    color: #636363;
}

.header-topic h2 {
    font-size: 3.65rem;
    word-spacing: 1px;
    letter-spacing: 1.7px;
}

.header-topic p {
    font-size: 2.3rem;
    position: relative;
    top: -8px;
}

.header-topic p span {
    color: red;
}

.bg-for-btns {
    background: url(assets/create-bg.png);
    background-position: -18px 29px;
    background-repeat: no-repeat;
    position: relative;
    left: 3px;
    /* width: 100%; */
    top: 51px;
    display: flex;
    width: 602px;
    height: 70px;
}

.topic-btns {
    display: grid;
    grid-template: 1fr / 246px 46px 46px;
    grid-gap: 25px;
    color: white;
    margin: 0 auto;
}

.create {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #6c7498, #5f2e69);
    border-radius: 10rem;
    text-align: center;
    box-shadow: 0 6px 13px 3px rgba(64, 79, 154, 0.84);
    height: 56px;
    width: 246px;
    position: relative;
    top: 7px;
}

.create span {
    position: relative;
    top: -1px;
    left: 0px;
    color: white;
    font-size: 18px;
    letter-spacing: 0.4px;
}

.app-store {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 46px;
    height: 46px;
    background: rgba(95, 46, 105, 0.85);
    border-radius: 50%;
    color: white;
}

.app-store i {
    position: relative;
    top: 0px;
    left: -1px;
    font-size: 23px;
}

.google {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    position: relative;
    left: -4px;
    width: 46px;
    height: 46px;
    background: rgba(95, 46, 105, 0.85);
    border-radius: 50%;
    color: white;
}

.google i {
    position: relative;
    font-size: 20px;
}

.advantages-block {
    display: grid;
    grid-template: 1fr / repeat(3, 21vw);
    grid-gap: 1.77vw;
    margin: 5.6% 0vw;
    justify-content: center;
    margin-left: 6.5vw;
}

.advantages-head {
    display: grid;
    grid-template: 1fr / 40px 1fr;
}

.advantages-head span {
    position: relative;
    top: 11px;
    left: -2px;
}

.encryption span {
    left: -4px;
    top: 13px;
}

.anonym span {
    top: 15px;
    left: 0px;
}

.anonym::after {
    content: "";
    position: absolute;
    height: 1px;
    right: 2.7%;
    width: 10vw;
    background: #b9b9b9;
    transform: translate(0, -17.8vh) rotate(0);
}

.adv-head-text {
    position: relative;
    left: 19px;
}

.privacy .adv-head-text {
    left: 18px;
}

.privacy .adv-head-text h3 {
    letter-spacing: 0.9px;
    word-spacing: 0px;
}

.anonym .adv-head-text {
    left: 19px;
}

.adv-head-text h3 {
    color: #555555;
    font-size: 1.8rem;
    margin-top: 2px;
    letter-spacing: 1px;
    word-spacing: -1px;
    font-weight: 400;
}

.anonym .adv-head-text h3 {
    word-spacing: 0px;
}

.adv-head-text>p {
    font-size: 1.1rem;
    margin-top: -9px;
    /* word-spacing: 3px; */
    letter-spacing: 0.39px;
}

.adv-column>p {
    margin-top: 1.35vw;
    font-size: 14px;
    word-spacing: 1px;
    line-height: 22px;
    padding-right: 32px;
}

.privacy>p {
    word-spacing: 0;
    letter-spacing: 0.1px;
}

.encryption>p {
    word-spacing: 0px;
    padding-right: 33px;
    letter-spacing: 0.13px;
}

.anonym>p {
    word-spacing: 0px;
    letter-spacing: 0.13px;
}

.header-topic::after {
    position: relative;
    content: "";
    width: 1px;
    height: 210px;
    background: #b9b9b9;
    display: block;
    top: 270px;
    right: 24.3%;
}

.physical-security {
    max-width: 634px;
    margin: 0vw auto;
    text-align: right;
    position: relative;
    top: 0.4vh;
    right: 6.1%;
}

.physical-security h2 {
    color: #535353;
    font-size: 60px;
    font-weight: 100;
    letter-spacing: 0.4px;
    word-spacing: 2px;
}

.physical-security p {
    font-family: TW-SB;
    color: #959393;
    font-size: 24px;
    position: relative;
    right: 3px;
    word-spacing: 0.7px;
    top: 2px;
    line-height: 22px;
}

.physical-security p>span {
    color: red;
    font-weight: 600;
}

.learn-more {
    max-width: 332px;
    height: 60px;
    margin: 0 auto;
    position: relative;
    left: 13.4%;
    top: 32px;
    word-spacing: 0.1px;
    letter-spacing: 0.3px;
    border: 1px solid #b9b9b9;
    border-radius: 10rem;
}

.learn-more span {
    position: relative;
    top: 15px;
    left: 8.6%;
}

.learn-more::before {
    content: "";
    width: 974px;
    height: 1px;
    position: absolute;
    /* top: 30px; */
    background: #b9b9b9;
    display: block;
    transform: rotate(90deg);
    transform: translate(-974px, 29px) rotate(0);
}

.learn-more::after {
    content: "";
    height: 433px;
    width: 1px;
    position: absolute;
    background: #b9b9b9;
    display: block;
    transform: translate(171px, -459px) rotate(0);
}

.journal-list {
    margin: 7.5vh 0 0 1.1vw;
    overflow: hidden;
}


/*//////////////////////////////////// slider ////////////////////////////////////////*/

.wrapper{
    z-index: 3;
    height: 160px;
    position: relative;
    left: 18.97vw;
    top: 6.3vh;
    width: 570px;
}

.wrapper > input{
    display: none;
}

.wrapper .controls{
    display: grid;
    position: absolute;
    top: 0;
}

.wrapper label{
    background: #727272;
    cursor: pointer;
    height: 11px;
    width: 11px;
    position: relative;
    border-radius: 50%;
    transition: all ease 0,5s;
}

.controls label:nth-of-type(2),
.controls label:nth-of-type(3){
    margin-top: 11px;
    margin-left: 1px;
}

.wapper label:hover,
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3){
    cursor: pointer;
    z-index: 1;
    background: #101010;
    height: 13px;
    width: 13px;
}

.slider{
    height: inherit;
    width: 533px;
    position: absolute;
    right: 1px;
}

.slides {
	height: inherit;
	position: absolute;
    width: inherit;
    opacity: 0;
    z-index: 0;
    transform: translate(0, 50%) scale(0.5);
    transition: transform ease-in-out .5s, opacity ease-in-out .5s;
    margin-top: -8px;
    margin-left: 3px;
}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3{
    opacity: 1;
	z-index: 1;
	transform: scale(1);
}

/*//////////////////////////////////// slider ////////////////////////////////////////*/

.slides > p{
    font-family: Malaga;
    color: #101010;
    font-size: 1.55rem;
    word-spacing: -0.77px;
    line-height: 3.4vh;
}

.slides > figcaption{
    font-family: Malaga;
    color: #727272;
    position: relative;
    top: 10px;
    left: 20px;
    font-size: 16px;
    letter-spacing: 0.18px;
}

.slides > figcaption:before{
    content: "";
    display: block;
    position: relative;
    top: 10px;
    left: -21px;
    height: 1px;
    width: 16px;
    background: #727272;
}

.device{
    position: relative;
    display: flex;
    height: 530px;
    margin-top: -8px;
    background: linear-gradient(to right, #fcfcfc, #f0f0f0);
    /* clip-path: polygon(0 38.5%, 100% 0, 100% 100%, 0 100%); */
    justify-content: center;
    align-items: center;
}

.device-content{
    height: 230px;
    width: 450px;
    margin: 14px 34px 0 0;
    text-align: right;
    color: #535353;
    z-index: 2;
}

.device-content > h2{
    font-size: 37px;
    font-weight: 200;
    word-spacing: 1px;
    letter-spacing: -0.32px;
}

.device-content > p{
    position: relative;
    top: 8px;
    right: 5px;
    color: #959393;
    letter-spacing: 0.1px;
    word-spacing: 0.4px;
    line-height: 22px;
}

.device-btns{
    position: relative;
    top: 38px;
    right: 1px;
    display: grid;
    grid-template: 1fr / 180px 180px;
    grid-gap: 13px;
    align-content: right;
    float: right;
}

.download-button{
    height: 55px;
    background: red;
    border-radius: 5px;
}

.app-store-load{
    background: url(assets/app-download.png);
}

.google-load{
    background: url(assets/play-download.png);
}

.device::before {
    content: "";
    position: absolute;
    top: 0;
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    border-top: 200px solid #fff;
    border-right: 93.7vw solid transparent;
    z-index: 0;
  }

.device-content::after{
    content: "";
    background: url(assets/platforms.png);
    width: 578px;
    height: 670px;
    displaY: block;
    position: absolute;
    right: 14vw;
    top: -12.47vh;
    z-index: -1;
}

.purchase-block{
    padding-top: 7.28vh;
    background: linear-gradient(to right, #fcfcfc, #f0f0f0);
}

.purchase-content{
    max-width: 35vw;
    margin: 0 auto;
    text-align: center;
}

.purchase-head > h2{
    font-size: 2.4rem;
    font-weight: 400;
    letter-spacing: -0.8px;
    word-spacing: 0.5px;
}

.purchase-head > p{
    font-size: 1.855rem;
    position: relative;
    top: -13px;
    left: -2px;
    word-spacing: -0.6px;
}


















